target
bin
build

.classpath
.factorypath
.project
.settings

.vscode

.idea
*.iws
*.iml
*.ipr

demo/target
demo/bin
demo/build

demo/.classpath
demo/.factorypath
demo/.project
demo/.settings

demo/.vscode

demo/.idea
demo/*.iws
demo/*.iml
demo/*.ipr
